@import url(https://db.onlinewebfonts.com/c/5cfbe76f00e7c4d6ba5d963f6c179606?family=Museo+W01+700);

@font-face {
    font-family: "Museo 700";
    src: url("https://db.onlinewebfonts.com/t/5cfbe76f00e7c4d6ba5d963f6c179606.eot");
    src: url("https://db.onlinewebfonts.com/t/5cfbe76f00e7c4d6ba5d963f6c179606.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5cfbe76f00e7c4d6ba5d963f6c179606.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/5cfbe76f00e7c4d6ba5d963f6c179606.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/5cfbe76f00e7c4d6ba5d963f6c179606.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/5cfbe76f00e7c4d6ba5d963f6c179606.svg#Museo W01 700")format("svg");
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Museo 700';
    }


body::-webkit-scrollbar {
    display: none;                   /* For Chrome, Safari, and Opera */
}

/* First Section */

.header {
    width: 100%;
    height: 250px;
    position:relative;
    display:inline-block;
}

.wallpaper {
    display: block;
    width: 100%; 
    height: 550px; 
}

.vertical-header {
    position: absolute;
    top:100px;
    right:75px;
}

.vertical-header li {
    text-align: center;;
    padding:10px;
    color: aliceblue;
    list-style-type: none;
    transition:weight 1s 2s;
    font-size: 19px;
}

.vertical-header li:hover {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: large;
    border-radius: 2px;
    transition-duration:5ms;
}

.vertical-header img {
    height: 160px;
    width: auto;
}

.vertical-header button {
    all: initial;
    color:white;
    font-size:21px;
}

.first-page .school-name {
    position:absolute;
    color:aliceblue;
    top: 100px;
    left: 40px;
    font-size: 45px;
    width: 45px;
    height:auto;
}

/* Second Section */

.origin-title {
    padding-top: 80px;
    text-align: center;
    font-size: 26px;
    padding-bottom: 10px;
}

.column-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px; 
    padding-bottom: 30px;
}

.column {
    flex: 1;
    width: 100px;
    text-align:center;
    font-size: 14px;
    margin:40px;
    line-height: 20px;
}



.column img {
    width:350px;
    height: auto;
    padding-bottom: 30px;
}

/* Section 3 */


.S3container {
    display: flex;
    gap: 35px;
    padding: 100px 0px;
    padding-left: 80px;
}

.S3box {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 1px;
    max-width: 350px;
    height: 380px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden
}

.S3box img {
    width: 400px;
    height: 300px;
    border-radius: 1px;
}

.S3box p {
    margin-top: 10px;
    font-size: 35px;
    color: #333;
    text-decoration: underline solid black 41px;
}